<footer class="footer">
  <a href="https://www.facebook.com/yifan.zhu.357"><i class="fa fa-facebook" aria-hidden="true" target="_blank"></i></a>
  <a href="https://linkedin.com/in/yifanzhu1"><i class="fa fa-linkedin" aria-hidden="true" target="_blank"></i></a>
  <a href="mailto:yifanzhu@iastate.edu"><i class="fa fa-envelope" aria-hidden="true" target="_blank"></i></a>
  <div class="post-date"><a href="{{ site.github.url }}/about.html">{{ site.title }} | {{ site.tagline }} by {{ site.author.name }}</a></div>
</footer>
